@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Roboto+Condensed&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  'Roboto Condensed','Montserrat', 'Poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}



.header{
    display: flex;
    justify-content:space-between;
    padding:10px 10vw;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.header>img{
    height:50px
}

.header__menu{
    display: flex;
}

.header__menu>a{
    display: block;
    text-decoration: none;
    color: black;
    padding:0px 25px;
    font-weight: bold;
}

.link {
    padding: 7px 10px;
    border-radius:15px;
     border: none;
     outline: none;
    background-color: orange;
}
.intro__info{
    /* color: rgb(1, 82, 8); */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.425);
    padding:20px;
    font-size: 2rem;
}

.whoWeAre,.whatWeThink,.expertise{
    display: flex;
    padding:120px 10vw;
    margin-top: 100px;
    justify-content:space-between;
    align-items: center;
}

.whoWeAre>img,.whatWeThink>img,.expertise>img{
    height:300px;
}

.whatWeThink__info>h2,.whoWeAre__info>h2,.expertise__info>h2,h3{
    margin-bottom: 25px;
}

.whoWeAre__info>a,.whatWeThink__info>a{
    display:block;
    text-decoration:none;
    padding:10px 20px;
    font-weight:900;
    border-radius:30px;
    max-width: max-content;
    margin-top: 25px;
    text-align: center;
    transition:.2s all
}

.link:hover{
    transform: scale(1.1);
}
.whoWeAre__info>a{
    background-color: orange;
    color:black;
}
.whoWeAre__info{
    padding-right: 10vw;
    font-size: 1.5rem;
}

.whatWeThink__info>a{
    background-color: rgb(94, 146, 9);
    color:white;
}

.whatWeThink__info{
    padding-left: 15vw;
    font-size: 1.5rem;
}

.whatWeThink{
    background-color: orange;
}

.expertise__info{
    padding-right: 15vw;
    font-size: 1.5rem;
}

.expertiseOptions{
    margin-top: 50px;
    display:flex;
    justify-content:center;

}
.container__expertiseOptions{
    padding:150px 10vw;  
    background-color: rgb(243, 243, 243); 
}

.option{
    background-color: olivedrab;
    padding:30px;
    color:white;
    text-align: center;
    width:40vw;
    cursor: pointer;
    transition: .1s all;
}

.option:hover {
    transform:scale(1.2)
}

.option:nth-child(even){
    background-color: orange;
    color: black;
}

.option>h5{
    margin-top:30px;
    font-size:1rem
}
.fas{
    font-size: 100px;
}

.location{
    padding: 10vw;
    display:flex;
    background-color: rgb(255, 166, 0);
    font-size: 1.3rem;
}

.location__info{
    padding-left: 10vw;
}

.location__info>p{
    margin:25px 0px;
}

.footer{
    background-color: olivedrab;
    padding:20px 10vw;
    text-align:center;
    font-size: 1.5rem;
    color:white;
}

/* responsive view  */

@media screen and (max-width:900px) {
    *{  
          box-sizing: border-box !important;
        }
    .header{
        padding:15px 0;
        font-size:.9rem;
        width: 100%;
    }
    .whoWeAre,.whatWeThink,.expertise{
        padding:40px 15px;
    }

    .whoWeAre>img,.whatWeThink>img,.expertise>img{
        height:200px;
    }

    .whoWeAre__info,.expertise__info,.whatWeThink__info,.location__info{
        font-size: 1.1rem;
    }

}

@media screen and (max-width:700px){
    *{  
        box-sizing: border-box !important;
      }
    .header__menu>a{
        font-size:.7rem;
        padding:0 10px;

    }
    .intro{
        min-height:40vh;
    }
    .into__info{
        padding:0;
        font-size: 10px;
    }
    .whoWeAre,.whatWeThink,.expertise,.location{
        flex-direction: column;
        align-items: center;
        padding:20px 0;
    }
    .expertiseOptions{
        flex-direction:column;
    }
    .expertiseOptions>.option{
        width:100%;
    }
    .whatWeThink__info,.whoWeAre__info,.expertise__info,.location__info{
        padding:40px 10px;
        /* text-align:center; */
    }
    iframe{
        max-width: 100vw;
    }
}

@media screen and (max-width:500px){
    *{  
        box-sizing: border-box !important;
      }
    .header__menu>a{
        font-size: .5rem;
        padding:0 5px;
    }
    
}